[run]
branch = True
source =
    python_toolbox

[report]
# Gotta ignore errors because I create temporary code files:
ignore_errors = True

omit =
    *third_party*
    
[html]
directory = .coverage_html_report