*.pyc
*.pyo

*.wpu

garlicsim/*dist
garlicsim/*.egg-info
garlicsim/build

garlicsim_lib/*dist
garlicsim_lib/*.egg-info
garlicsim_lib/build

garlicsim_wx/*dist
garlicsim_wx/*.egg-info
garlicsim_wx/build

win_dist
deb_dist
mac_dist

*/docs/_build/*
*/docs/_deployed_build/*

build
*.exe

nosetests.xml

coverage.xml
*.coverage
htmlcov

