recursive-include python_toolbox *
recursive-exclude python_toolbox *.pyc
recursive-exclude python_toolbox *.pyo
recursive-include test_python_toolbox *
recursive-exclude test_python_toolbox *.pyc
recursive-exclude test_python_toolbox *.pyo
