recursive-include source_py2 *
recursive-exclude source_py2 *.pyc
recursive-exclude source_py2 *.pyo
recursive-include source_py3 *
recursive-exclude source_py3 *.pyc
recursive-exclude source_py3 *.pyo
include README.markdown
include MANIFEST.in
include .coveragerc
include setup.cfg
recursive-include docs *
