[run]
branch = True
source =
    garlicsim
    garlicsim_lib
    garlicsim_wx
    test_garlicsim
    test_garlicsim_lib
    test_garlicsim_wx

[report]
# Gotta ignore errors because I create temporary code files:
ignore_errors = True
